/* line 1, css/base/base.scss */
.img-min {
  max-height: 130px;
  max-width: 130px;
}

/* line 5, css/base/base.scss */
.cb {
  clear: both;
}

/* line 7, css/base/base.scss */
mini {
  font-size: 10px;
  font-weight: normal;
  font-family: Arial, sans serif;
}

/* line 13, css/base/base.scss */
minibas {
  font-size: 10px;
  font-weight: normal;
  font-family: Arial, sans serif;
  line-height: 15px;
  position: relative;
  top: 5px;
}

/* line 22, css/base/base.scss */
x1 {
  font-size: 23px;
  font-family: "Arial", sans serif;
  color: #47433b;
  margin-top: 5px;
  font-weight: bold;
}

/* line 30, css/base/base.scss */
x2 {
  font-size: 17px;
  font-family: "Arial", sans serif;
  color: #47433b;
  line-height: 0.7;
  margin-top: -5px;
}

/* line 39, css/base/base.scss */
a {
  color: #777777;
}

/* line 44, css/base/base.scss */
a:hover {
  color: #333333;
  text-decoration: none;
}

/* line 1, css/layout/_grid.scss */
.l-container {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  z-index: 1;
  overflow: visible;
}

/* line 1, css/module/_revalorisation.scss */
.revalorisation {
  height: 650px;
  background-image: url("css/img/fond-revalorisation.png");
  background-color: #FFF;
  background-repeat: repeat-x;
  margin: 0px;
  padding: 0px;
}

/* line 10, css/module/_revalorisation.scss */
.contenu-revalorisation {
  height: 537px;
  margin-top: 0px;
  background-color: #f0eeeb;
  border: 1px #000;
  border-bottom-style: solid;
  margin: 0px;
  padding: 0px;
}

/* line 20, css/module/_revalorisation.scss */
.titre-revalorisation {
  height: 75px;
  margin-top: 38px;
}

/* line 26, css/module/_revalorisation.scss */
.revaloriser-all-cols {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  min-width: 1010px;
  max-width: 1300px;
}

/* line 35, css/module/_revalorisation.scss */
.revaloriser-col1 {
  width: 33%;
  height: 100%;
  background-color: #f0eeeb;
  float: left;
  text-align: center;
  padding-top: 10px;
}

/* line 43, css/module/_revalorisation.scss */
.revaloriser-col2 {
  width: 34%;
  height: 100%;
  background-color: #e7e4dd;
  float: left;
  text-align: center;
  padding-top: 10px;
}

/* line 51, css/module/_revalorisation.scss */
.revaloriser-col3 {
  width: 33%;
  height: 100%;
  background-color: #f0eeeb;
  float: left;
  text-align: center;
  padding-top: 10px;
}

/* line 60, css/module/_revalorisation.scss */
.reval-art {
  width: 100%;
  height: 150px;
  vertical-align: middle;
  padding-top: 10px;
  -webkit-transition: 0.4s;
  /* For Safari 3.1 to 6.0 */
  transition: 0.4s;
}

/* line 69, css/module/_revalorisation.scss */
.reval-art:hover {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}

/* line 75, css/module/_revalorisation.scss */
.reval-art1 {
  width: 140px;
  height: 140px;
  float: left;
  padding: 5px;
}

/* line 82, css/module/_revalorisation.scss */
.reval-art2 {
  text-align: left;
  line-height: 15px;
}

/* line 87, css/module/_revalorisation.scss */
.ti-art {
  font-size: 17px;
}

/* line 92, css/module/_revalorisation.scss */
.attr-art {
  font-size: 12px;
}

/* line 98, css/module/_revalorisation.scss */
.div_arrondi1 {
  border-radius: 25px;
  overflow: hidden;
  width: 200px;
  height: 300px;
  background-color: #000;
}

/* line 107, css/module/_revalorisation.scss */
.div_arrondi2_tuto {
  border-radius: 15px;
  overflow: hidden;
  height: 250px;
  background-position: center;
  background-color: #FFF;
  background-repeat: no-repeat;
  margin: 5px;
  min-height: 250px;
  display: inline-block;
}

/* line 121, css/module/_revalorisation.scss */
.div_arrondi2_idee {
  border-radius: 15px;
  overflow: hidden;
  width: 200px;
  background-position: center;
  background-color: #FFF;
  background-repeat: no-repeat;
  margin: 5px;
  float: left;
  display: inline-block;
}

/* line 134, css/module/_revalorisation.scss */
.div_arrondi2_recyclage {
  border-radius: 15px;
  overflow: hidden;
  width: 200px;
  background-position: center;
  background-color: #FFF;
  background-repeat: no-repeat;
  margin: 5px;
  float: left;
  display: inline-block;
}

/* line 148, css/module/_revalorisation.scss */
.surcouche {
  height: 273px;
  width: 100%;
  border-radius: 15px;
  vertical-align: middle;
  -webkit-transition: 0.4s;
  /* For Safari 3.1 to 6.0 */
  transition: 0.4s;
  background-color: transparent;
  opacity: 0;
  padding: 10px;
  margin: 0px auto;
  display: inline-block;
  margin-top: -40px;
}

/* line 165, css/module/_revalorisation.scss */
.surcouche:hover {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}

/* line 170, css/module/_revalorisation.scss */
.surcouche ins {
  opacity: 0;
  text-decoration: none;
  -webkit-transition: 0.4s;
  /* For Safari 3.1 to 6.0 */
  transition: 0.4s;
  margin: 0px auto;
}

/* line 181, css/module/_revalorisation.scss */
.surcouche:hover ins {
  opacity: 1;
}

/* line 186, css/module/_revalorisation.scss */
.surcouche-content-titre {
  margin-top: -5px;
  height: 60px;
  width: 100%;
  overflow: hidden;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
  text-align: center;
  margin: 0px auto;
}

/* line 200, css/module/_revalorisation.scss */
.surcouche-content-mp {
  margin-top: 0px;
  height: 100px;
  width: 100%;
  overflow: hidden;
  color: #fff;
  font-size: 1em;
  text-align: center;
  margin: 0px auto;
}

/* line 213, css/module/_revalorisation.scss */
.surcouche-content-rates {
  color: #FFF;
  height: 50px;
  width: 100%;
  margin: auto;
  margin-top: -20px;
  text-align: center;
}

/* line 223, css/module/_revalorisation.scss */
.surcouche-content-bottom {
  bottom: 0;
  color: #FFF;
  height: 70px;
  width: 100%;
  margin-top: 20px;
}

/* line 232, css/module/_revalorisation.scss */
.surcouche-bottomleft {
  width: 33%;
  height: 100%;
  color: #FFF;
  float: left;
}

/* line 239, css/module/_revalorisation.scss */
.surcouche-voirtout {
  width: 34%;
  min-width: 35px;
  height: 100%;
  color: #FFF;
  float: left;
  text-align: center;
}

/* line 249, css/module/_revalorisation.scss */
.surcouche-ccoeur {
  width: 33%;
  height: 100%;
  min-width: 20px;
  float: left;
  text-align: center;
  vertical-align: middle;
  color: #FFF;
}

/* line 260, css/module/_revalorisation.scss */
.btn-white {
  color: #FFF;
  border: solid 1px #FFF;
}

/* line 265, css/module/_revalorisation.scss */
.repartition {
  display: block;
  /* insecticide */
  text-align: justify;
  /* prepare alternative type: flex-justify */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 25px;
}

/* line 277, css/module/_revalorisation.scss */
.repartition:after {
  display: inline-block;
}

/* line 281, css/module/_revalorisation.scss */
.encadre_type {
  position: relative;
  top: 1px;
  left: 0px;
  border: solid 1px #555555;
  font-size: 9px;
  text-transform: uppercase;
  background-color: #FFFFFF;
  display: inline-block;
  opacity: 0.8;
}

/* line 294, css/module/_revalorisation.scss */
.div-coeur {
  z-index: 9999999;
}

/* line 298, css/module/_revalorisation.scss */
coeur {
  opacity: 0;
  position: relative;
  display: block;
  top: 204px;
  text-align: center;
  height: 20px;
}

/* line 309, css/module/_revalorisation.scss */
.surcouche:hover coeur {
  opacity: 1;
}

/* line 314, css/module/_revalorisation.scss */
.hoverdark {
  opacity: 1;
  -webkit-transition: 0.4s;
  /* For Safari 3.1 to 6.0 */
  transition: 0.4s;
}

/* line 321, css/module/_revalorisation.scss */
.hoverdark:hover {
  opacity: 0.7;
  z-index: 9999;
}

/* line 1, css/module/_pagesimple.scss */
.pagesimple_container {
  width: 1010px;
  margin: 0 auto;
  min-height: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  float: none;
  overflow: visible;
}

/* line 13, css/module/_pagesimple.scss */
.microcontainer {
  width: 400px;
  height: 100%;
  margin: 0 auto;
  background-color: #F2F2F2;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #bbbbbb;
  display: inline-block;
}

/* line 24, css/module/_pagesimple.scss */
.line-list-0 {
  width: 100%;
  min-height: 125px;
  background-color: #eaeaea;
  border: solid 1px #bebebe;
  margin: 0 auto;
  margin-top: 10px;
  vertical-align: middle;
  position: relative;
  overflow: visible;
  display: inline-block;
  clear: both;
}

/* line 39, css/module/_pagesimple.scss */
.line-list-0:hover {
  background-color: #dfdfdf;
}

/* line 43, css/module/_pagesimple.scss */
.line-list-1 {
  width: 100%;
  min-height: 125px;
  background-color: #fafafa;
  border: solid 1px #bebebe;
  margin: 0 auto;
  margin-top: 10px;
  vertical-align: middle;
  position: relative;
  overflow: visible;
  display: inline-block;
  clear: both;
}

/* line 57, css/module/_pagesimple.scss */
.line-list-1:hover {
  background-color: #eeeeee;
}

/* line 61, css/module/_pagesimple.scss */
.line-photo {
  width: 110px;
  height: 110px;
  margin: 5px;
  float: left;
  vertical-align: middle;
  background-color: #cccccc;
  position: absolute;
  overflow: hidden;
}

/* line 72, css/module/_pagesimple.scss */
.line-comment {
  position: relative;
  float: left;
  left: 120px;
  right: -120px;
  overflow: visible;
  z-index: 99;
  padding-right: 120px;
}

/* line 84, css/module/_pagesimple.scss */
.line-trash {
  position: absolute;
  opacity: 0.5;
  top: 0px;
  right: 0px;
  overflow: visible;
  z-index: 100;
}

/* line 92, css/module/_pagesimple.scss */
.line-trash:hover {
  opacity: 1;
}

/* line 95, css/module/_pagesimple.scss */
.rating {
  direction: rtl;
  text-align: left;
  text-decoration: none;
  font-size: 3em;
}

/* line 103, css/module/_pagesimple.scss */
.rating x {
  color: #aaa;
  text-decoration: none;
  font-size: 3em;
  transition: color .4s;
}

/* line 110, css/module/_pagesimple.scss */
.rating .x:hover,
.rating .x:focus,
.rating .x:hover ~ .x,
.rating .x:focus ~ .x {
  color: orange;
  cursor: pointer;
}

/* line 119, css/module/_pagesimple.scss */
.rating_sm {
  direction: rtl;
  text-align: left;
  text-decoration: none;
  font-size: 1em;
  display: inline;
}

/* line 129, css/module/_pagesimple.scss */
.rating_sm x {
  color: #aaa;
  text-decoration: none;
  font-size: 1em;
  transition: color .4s;
}

/* line 136, css/module/_pagesimple.scss */
.rating_sm .x:hover,
.rating_sm .x:focus,
.rating_sm .x:hover ~ .x,
.rating_sm .x:focus ~ .x {
  color: orange;
  cursor: pointer;
}

/* line 146, css/module/_pagesimple.scss */
.rating_empty {
  text-decoration: none;
  font-size: 3em;
  color: #aaa;
  text-align: left;
}

/* line 154, css/module/_pagesimple.scss */
.rating_full {
  text-decoration: none;
  font-size: 3em;
  color: orange;
  text-align: left;
}

/* line 160, css/module/_pagesimple.scss */
.rating_empty_sm {
  text-decoration: none;
  font-size: 1em;
  color: #aaa;
  text-align: left;
}

/* line 168, css/module/_pagesimple.scss */
.rating_full_sm {
  text-decoration: none;
  font-size: 1em;
  color: orange;
  text-align: left;
}

/* line 186, css/module/_pagesimple.scss */
.partage {
  min-width: 10px;
  min-height: 24px;
  overflow: visible;
  display: none;
  position: absolute;
  z-index: 9999999;
}

/* line 197, css/module/_pagesimple.scss */
.form_refus {
  background-color: #FFF;
  border: solid 1px #000;
  z-index: 9999999;
  padding: 10px;
  margin-top: -120px;
}

/* line 206, css/module/_pagesimple.scss */
#filedrag {
  display: none;
  font-weight: bold;
  text-align: center;
  padding: 1em 0;
  margin: 1em 0;
  color: #555;
  border: 2px dashed #555;
  border-radius: 7px;
  cursor: default;
}

/* line 219, css/module/_pagesimple.scss */
#filedrag.hover {
  color: #f00;
  border-color: #f00;
  border-style: solid;
  box-shadow: inset 0 3px 4px #888;
}

/* line 226, css/module/_pagesimple.scss */
.div_arrondi2 {
  height: 120px;
  width: 200px;
}

/* line 232, css/module/_pagesimple.scss */
.info {
  color: #888888;
  background-color: #F8F8F8;
  border: solid 1px #DFDFDF;
  padding: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

/* line 243, css/module/_pagesimple.scss */
.margin-top {
  margin-top: 5px;
}

/* line 248, css/module/_pagesimple.scss */
.no-padding {
  padding: 0px;
}

/* line 253, css/module/_pagesimple.scss */
.minus70 {
  margin-top: -70px;
}

/* line 258, css/module/_pagesimple.scss */
.minus30 {
  margin-top: -30px;
}

/* line 263, css/module/_pagesimple.scss */
.minusleft80 {
  margin-left: -80px;
}
