.img-min{
 max-height:130px;
max-width:130px; 
}
.cb{clear:both;}

mini{
font-size:10px;
font-weight:normal;
font-family:Arial, sans serif;
}

minibas{
  font-size:10px;
font-weight:normal;
font-family:Arial, sans serif;
line-height:15px;
position: relative;
top: 5px;
}

x1{
   font-size:23px;
 font-family:"Arial", sans serif;
 color:#47433b;
 margin-top:5px;
 font-weight:bold;
}

x2{
   font-size:17px;
 font-family:"Arial", sans serif;
 color:#47433b;

 line-height:0.7;
 margin-top:-5px;
}

a
{
 color:#777777; 
}

a:hover
{
 color:#333333; 
 text-decoration:none;
}