.pieddepage{
 height: 240px;

}

.pieddepage-ligne1{
 background-color:#b8ae9b; 
 height:47px;
 border-top:1px solid #595959;
 margin:0px;
}

.pieddepage-ligne2{
 background-image:url('css/img/fond_kraft.png');
     // background-color:#FF0055;
  height:37px;
  border-top:2px solid #000;
  border-bottom:2px solid #000;
  margin:auto; 
  min-width:1010px;
}

.pieddepage-ligne3{
 height: 160px;
 background-color:#887d69; 
   margin:auto;
   min-width:1010px;
}


.logo-pdp{
  width:33%;
  min-width:200px;
  height:100%;
  float:left;
  display:block;
  margin-top:-2px;
  text-align:center;
  //background-color:#558465;
}

.ligne-1-item{
width:33%;
float:left;
display:block;
min-width:300px;
   padding-top:7px;
   color:#FFFFFF;
   font-size:14px;
  text-align:center;
  
}



.ligne3-item{
  width:25%;
  min-width:250px;
  height:100%;
  float:left;
  color:#FFF;
display:block;
   padding:10px;
   padding-top:25px;
   padding-left:25px;
   padding-right:25px;
   text-align:center;
   font-size:15px;
   letter-spacing:3px;
}

